@use "@angular/material" as mat;

:host {
  position: relative;
  display: block;
  width: -webkit-fill-available;
  height: fit-content;
  padding: 16px;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
  }

  .header-logo-button {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 100px;
    height: 40px;
    font: var(--mat-sys-headline-medium);
    color: var(--mat-sys-error-container);
    border: none;
    background: none;
    outline: 1px solid var(--mat-sys-outline-variant);
    border-radius: var(--mat-sys-corner-full);
    cursor: pointer;
  }

  .header-app-name {
    font: var(--mat-sys-title-large);
    color: var(--mat-sys-inverse-surface);
  }

  .header-search {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
  }

  .header-search-field {
    position: relative;
    display: flex;
    width: 400px;
    height: 40px;
  }

  .header-search-suggestions {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 102%;
    width: 90%;
    outline: 1px solid var(--mat-sys-outline-variant);
    background-color: var(--mat-sys-surface);
    border-bottom-left-radius: var(--mat-sys-corner-medium);
    border-bottom-right-radius: var(--mat-sys-corner-medium);
    overflow: hidden;
    padding: 8px 0;
    z-index: 1;
  }

  .suggest-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
    height: 100%;
    width: 100%;
    padding: 8px 16px 8px 16px;
    border: none;
    background: none;
    cursor: pointer;
    &:hover {
      background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4));
    }
  }

  .suggest-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .suggest-subtitle {
    font: var(--mat-sys-body-small);
  }

  .suggest-query {
    text-align: left;
  }

  .header-search-input {
    width: 100%;
    height: -webkit-fill-available;
    padding: 0 40px 0 16px;
    border: none;
    border-radius: var(--mat-sys-corner-full);

    &:focus {
      background-color: transparent;
      outline: 1px solid var(--mat-sys-outline-variant);
    }
  }

  .clear-button {
    position: absolute;
    right: 0;
  }

  .header-buttons-container {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
  }

  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-inverse-surface),
    )
  );

  button[matIconButton="tonal"] {
    color: var(--mat-sys-surface);
    background-color: var(--mat-sys-inverse-surface);
  }

  button[matButton] {
    width: 72px;
    font: var(--mat-sys-body-small);
    white-space: nowrap;
  }
}
