@let inEmail = signInForm.controls.email;
@let inPassword = signInForm.controls.password;
@let upNickname = signUpForm.controls.nickname;
@let upEmail = signUpForm.controls.email;
@let upPassword = signUpForm.controls.password;
@let upRePassword = signUpForm.controls.repeatPassword;

<div class="sign-page">
  <div class="sign-forms">
    <form
      class="sign-form {{ isSignInPanel() ? 'show-form' : 'hide-form' }}"
      [formGroup]="signInForm"
      (submit)="signIn()"
    >
      <h2 class="sign-form-title">Sign In</h2>
      <mat-form-field class="sign-form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        @if (inEmail.errors?.["pattern"]) {
          <mat-error>Email examples: <i>hive&#64;hive.com</i> or <i>hi.ve&#64;hive.moon</i></mat-error>
        } @else if (inEmail.hasError("required")) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="sign-form-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        @if (inPassword.errors?.["pattern"]) {
          <mat-error>Only numbers, English letters and !.$%^&* are allowed</mat-error>
        } @else if (inPassword.hasError("required")) {
          <mat-error>Password is <strong>required</strong></mat-error>
        } @else if (inPassword.hasError("minlength")) {
          <mat-error>Minimum password length should be <strong>8</strong> characters</mat-error>
        }
      </mat-form-field>
      <button matButton="filled" class="sign-button" aria-label="Sign In button" type="submit">Sign In</button>
    </form>
    <div class="sign-choice {{ movePanel() }}">
      <h2 class="sign-choice-title">{{ isSignInPanel() ? "Don't have an account?" : "Already have an account?" }}</h2>
      <button aria-label="Sign switch button" type="button" class="sign-choice-button" (click)="toggle()">
        {{ isSignInPanel() ? "Sign Up" : "Sign In" }}
      </button>
    </div>
    <form
      class="sign-form {{ isSignInPanel() ? 'hide-form' : 'show-form' }}"
      [formGroup]="signUpForm"
      (submit)="signIn()"
    >
      <h2 class="sign-form-title">Sign Up</h2>
      <mat-form-field class="sign-form-field">
        <mat-label>Nickname</mat-label>
        <input matInput formControlName="nickname" />
        @if (upNickname.hasError("required")) {
          <mat-error>Nickname is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="sign-form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        @if (upEmail.errors?.["pattern"]) {
          <mat-error>Email examples: <i>hive&#64;hive.com</i> or <i>hi.ve&#64;hive.moon</i></mat-error>
        } @else if (upEmail.hasError("required")) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="sign-form-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        @if (upPassword.errors?.["pattern"]) {
          <mat-error>Only numbers, English letters and !.$%^&* are allowed</mat-error>
        } @else if (upPassword.hasError("required")) {
          <mat-error>Password is <strong>required</strong></mat-error>
        } @else if (upPassword.hasError("minlength")) {
          <mat-error>Minimum password length should be <strong>8</strong> characters</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="sign-form-field">
        <mat-label>Repeat password</mat-label>
        <input matInput formControlName="repeatPassword" type="password" />
        @if (upRePassword.hasError("required")) {
          <mat-error>Password is <strong>required</strong></mat-error>
        } @else if (upRePassword.hasError("matchPasswords")) {
          <mat-error>Password is not the same</mat-error>
        }
      </mat-form-field>
      <button matButton="filled" class="sign-button" aria-label="Sign Up button" type="submit">Sign Up</button>
    </form>
  </div>
</div>
