:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-layout-container {
    display: flex;
    flex-grow: 1;
    padding: 2rem 200px 8px 200px;

    @media screen and (width <= 1200px) {
      padding: 2rem 100px 8px 100px;
    }

    @media screen and (width <= 768px) {
      padding: 2rem 1rem 8px 1rem;
    }
  }
}
