@use "@angular/material" as mat;

:host {
  --progressValue: 0;
  --volumeValue: 0;
  display: block;
  width: 100%;

  .native-player {
    display: none;
  }

  .player-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(56, 51, 55, 0.5) 0,
      rgba(45, 41, 45, 0.98) 10%,
      var(--mat-sys-surface-container-highest) 50%,
      rgba(45, 41, 45, 0.98) 90%,
      rgba(56, 51, 55, 0.5) 100%
    );
  }

  .player-progress {
    width: 100%;
    height: 24px;
    appearance: none;
    background: transparent;
    margin-top: -12px;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
      height: 4px;
      border-radius: 2px;
      background: linear-gradient(
        to right,
        var(--mat-sys-error-container) 0%,
        var(--mat-sys-error-container) var(--progressValue),
        var(--mat-sys-outline-variant) var(--progressValue),
        var(--mat-sys-outline-variant) 100%
      );
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -6px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: var(--mat-sys-error-container);
      cursor: pointer;
    }
  }

  .player-controls {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding: 8px 24px 16px 24px;
  }

  .player-left-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .player-duration {
    margin: 0;
    padding-left: 8px;
  }

  .player-left-controls .player-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;

    mat-icon {
      width: fit-content;
      height: fit-content;
      font-size: 2.5rem;
    }
  }

  .player-button {
    background: none;
    border: none;
    border-radius: var(--mat-sys-corner-extra-small);
    cursor: pointer;
    &:hover {
      background-color: var(--mat-sys-outline-variant);
    }
  }

  .player-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
  }

  .player-cover {
    width: 56px;
    height: 56px;
    border-radius: var(--mat-sys-corner-extra-small);
  }

  .track-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4px;
  }

  .player-track-title,
  .player-track-artist {
    display: -webkit-box;
    max-width: 300px;
    text-align: left;
    font: var(--mat-sys-body-large);
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0;
    overflow: hidden;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  .player-favorite {
    width: fit-content;
    height: fit-content;
    padding: 8px 8px 4px 8px;
    cursor: pointer;
  }

  .player-right-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
  }

  .player-repeat {
    width: fit-content;
    height: fit-content;
    padding: 8px 8px 4px 8px;
    cursor: pointer;
  }

  .player-mute {
    width: fit-content;
    height: fit-content;
    padding: 8px 8px 4px 8px;
    cursor: pointer;
  }

  .player-volume {
    width: 100px;
    height: 24px;
    appearance: none;
    background: transparent;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
      height: 4px;
      border-radius: 2px;
      background: linear-gradient(
        to right,
        var(--mat-sys-error-container) 0%,
        var(--mat-sys-error-container) var(--volumeValue),
        var(--mat-sys-outline-variant) var(--volumeValue),
        var(--mat-sys-outline-variant) 100%
      );
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -6px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: var(--mat-sys-error-container);
      cursor: pointer;
    }
  }
}
