<mat-action-list class="popup-list">
  @if (!userStatus()) {
    <button class="popup-list-item" (click)="navigationService.goToAbout()" mat-list-item>About</button>
  } @else {
    <button class="popup-list-item" (click)="navigationService.goToPlaylists()" mat-list-item>Playlists</button>
    <button class="popup-list-item" (click)="navigationService.goToProfile()" mat-list-item>Profile</button>
    <button class="popup-list-item" (click)="navigationService.goToAbout()" mat-list-item>About</button>
    <button class="popup-list-item" mat-list-item (click)="setSignOut()">Sign out</button>
  }
</mat-action-list>
