<div>
  <ng-container
    [ngTemplateOutlet]="newSearch"
    [ngTemplateOutletContext]="{
      items: artistsContext().items,
      search: artistsContext().search,
      type: artistsContext().type,
    }"
  />
</div>

<div>
  <ng-container
    [ngTemplateOutlet]="newSearch"
    [ngTemplateOutletContext]="{
      items: albumsContext().items,
      search: albumsContext().search,
      type: albumsContext().type,
    }"
  />
</div>

<div>
  <ng-container
    [ngTemplateOutlet]="newSearch"
    [ngTemplateOutletContext]="{
      items: tracksContext().items,
      search: tracksContext().search,
      type: tracksContext().type,
    }"
  />
</div>

<ng-template #newSearch let-items="items" let-search="search" let-type="type">
  @if (type === "Artists") {
    @for (artist of items; track artist.id) {
      <p>{{ artist.name }}</p>
    }
  }
  @if (type === "Albums") {
    @for (album of items; track album.id) {
      <p>{{ album.name }}</p>
    }
  }
  @if (type === "Tracks") {
    @for (track of items; track track.id) {
      <p>{{ track.name }}</p>
    }
  }
  <mat-paginator
    (page)="paginationEvent($event)"
    [length]="search.total"
    [pageSize]="search.limit"
    [disabled]="false"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[21, 42, 84, 168]"
    [hidePageSize]="false"
    [pageIndex]="search.offset / search.limit"
    aria-label="Select page"
  >
  </mat-paginator>
</ng-template>
