<div>
  <ng-container
    [ngTemplateOutlet]="newSearch"
    [ngTemplateOutletContext]="{
      items: artistsContext().items,
      search: artistsContext().search,
      type: artistsContext().type,
    }"
  />
</div>

<div>
  <ng-container
    [ngTemplateOutlet]="newSearch"
    [ngTemplateOutletContext]="{
      items: albumsContext().items,
      search: albumsContext().search,
      type: albumsContext().type,
    }"
  />
</div>

<div>
  <ng-container
    [ngTemplateOutlet]="newSearch"
    [ngTemplateOutletContext]="{
      items: tracksContext().items,
      search: tracksContext().search,
      type: tracksContext().type,
    }"
  />
</div>

<ng-template #newSearch let-items="items" let-search="search" let-type="type">
  <div class="search-container">
    <h1 class="search-title">{{ type }}</h1>
    <div class="search-results">
      @if (type === "Artists") {
        @for (artist of items; track artist.id) {
          <ng-container [ngTemplateOutlet]="artistCard" [ngTemplateOutletContext]="{ artist: artist }" />
        }
      }
      @if (type === "Albums") {
        @for (album of items; track album.id) {
          <hive-album-card [album]="album" />
        }
      }
      @if (type === "Tracks") {
        @for (track of items; track track.id) {
          <hive-track-card [track]="track" [allTracks]="items" />
        }
      }
    </div>
  </div>
  <mat-paginator
    (page)="paginationEvent($event)"
    [length]="search.total"
    [pageSize]="search.limit"
    [disabled]="false"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[7, 14, 21, 42, 84, 168]"
    [hidePageSize]="false"
    [pageIndex]="search.offset / search.limit"
    aria-label="Select page"
  >
  </mat-paginator>
</ng-template>

<ng-template #artistCard let-artist="artist">
  <div class="artist-card">
    <div class="artist-card-wrapper">
      <button class="artist-card-top" aria-label="Page of the artist {{ artist.name }}" (click)="goToArtist(artist.id)">
        <div class="artist-card-cover">
          <img
            class="artist-cover"
            src="{{ artist.image || 'https://picsum.photos/id/39/200.webp?blur=2' }}"
            alt="Album cover"
            width="200"
            height="200"
          />
        </div>
      </button>
      <button
        class="artist-card-button"
        aria-label="Page of the artist {{ artist.name }}"
        (click)="goToArtist(artist.id)"
      >
        {{ artist.name }}
      </button>
    </div>
  </div>
</ng-template>
