<hive-tags-panel />
<div class="carousels-container">
  <hive-carousel carouselTitle="Popular tracks" [isLoading]="isLoading()" [isEmpty]="false">
    @for (popularTrack of popularTracks(); track popularTrack.id) {
      <hive-track-card [track]="popularTrack" />
    }
  </hive-carousel>
  <hive-carousel carouselTitle="New releases" [isLoading]="isLoading()" [isEmpty]="false">
    @for (newRelease of newReleases(); track newRelease.id) {
      <hive-track-card [track]="newRelease" />
    }
  </hive-carousel>
  <hive-carousel carouselTitle="New albums" [isLoading]="isLoading()" [isEmpty]="false">
    @for (newAlbum of newAlbums(); track newAlbum.id) {
      <hive-album-card [album]="newAlbum" />
    }
  </hive-carousel>
</div>
